.card {
    width: 500px;
    height: 315px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    color: #fff;
    border-radius: 30px;
    transition: all .4s ease;
    border: 2px light black;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25),
        0 2px 2px rgba(0, 0, 0, 0.20),
        0 4px 4px rgba(0, 0, 0, 0.15),
        0 8px 8px rgba(0, 0, 0, 0.10),
        0 16px 16px rgba(0, 0, 0, 0.05);

}

.title-head {
    color: "white";
    margin-top: 40px;
    font-size: 40px;
    text-align: center;
    color: #fff;

}

.container {
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.container .card:hover {
    transform: scale(1.1);
}

.container .card .top img {
    border-radius: 80px;
    padding: 2px -2px;
    margin: 17px 18px;
    border: 2px solid coral;

}

.container .card .top .logo {
    position: absolute;
    top: 224px;
    margin-left: 238px;
    height: 60px;
    border: none;

}

.container .card .top {
    height: 80px;
    position: relative;

}

.container .card .top span {
    color: coral;
}

.container .card .top .heading {
    float: right;
    margin: 0px 24px;

}

.container .card .top .contact {
    float: right;
    display: flex;
    margin: -127px 33px;
}

.container .card .top .heading span {
    color: coral;
}

.container .card .top .name {
    display: flex;
    align-items: center;
    margin-left: 180px;
    position: absolute;
    top: 70px;

}

.container .card .top .name .employee {
    display: flex;
}

.container .card .mid {
    display: grid;
    margin-top: 80px;

}

.container .card .mid .box {
    width: 50px;
    height: 40px;
    grid-row-start: none;
    margin: 9px 38px;
    justify-content: space-between;

}

.container .card .mid .box span {
    color: coral;
}

.container .card .box span {
    color: coral;
}

.container .card .down .box {
    margin-left: 29px;
    margin-top: 48px;
}

.line {
    height: 50px;
    left: 20px;
    position: absolute;
    left: 115px;
    margin-top: 35px;

}

.line2 {
    height: 50px;
    position: absolute;
    left: 232px;
    margin-top: 36px;
}

.container .card .mid .line,
.line2 {
    background-color: coral;
}

.fetch-btn {
    padding: 7px 15px;
    background-color: rgb(80, 83, 255);
    border-radius: 5px;
    border: none;
    margin: 10px 10px;
    color: white;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 30px;
}

.fetch-btn:hover {
    transform: scale(1.1);
    transition: all .4s ease;
    background-color: coral;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
}


.footer-head {
    font-size: 12px;
    position: absolute;
    bottom: 10px;
    color: #fff;
}

@media screen and (max-width:526px) {
    .container .card {
        width: 337px;
        height: 253px;
    }

    .container .card .top .heading {
        display: flex;
        position: absolute;
        bottom: 38px;
        left: 183px;
        font-size: 24px;
    }

    .container .card .top .contact {
        font-size: 10px;
        display: flex;
        position: absolute;
        left: 176px;
        top: 172px;
    }

    .container .card .top img {
        height: 103px;
    }

    .container .card .top .name {
        display: flex;
        align-items: center;
        margin-left: 134px;
        position: absolute;
        top: 76px;
        font-size: 12px;
    }

    .container .card .mid {
        display: flex;
        margin-top: 54px;
    }

    .container .card .mid .box {
        width: 9px;
        height: 45px;
        margin: 6px 39px;
    }

    .container .card .mid .box {
        width: 1px;
        height: 45px;
        margin: 7px 39px;
    }

    .container .card .mid .box span {
        color: coral;
        font-size: 10px;
        display: flex;
    }

    .container .card .top .logo {
        position: absolute;
        top: 190px;
        margin-left: 130px;
        height: 35px;
    }

    .line {
        height: 35px;
        left: 20pxpo;
        position: absolute;
        left: 98px;
        margin-top: 33px;
    }

    .line2 {
        height: 34px;
        position: absolute;
        left: 168px;
        margin-top: 34px;
    }

    .container .card .down .box {
        margin-left: 29px;
        margin-top: 28px;
    }

    .title-head {
        font-size: 24px;
    }

}